
    @media (min-width: 500px) and (max-width: 768px) {
        .textAndButtonWrap {
            flex-direction: column;
            height: 10% !important;
        }

        .memButtonDiv {
            order: -1;
            align-self: center !important;
            height: 50% !important;
        }

        span {
            height: 30% !important;
        }

        .memTextDiv {
            width: 100%;
            height: 20% !important;
            margin-top: 3% !important;
        }

        .memText {
            font-size: 100% !important;
        }

        .memButton {
            height: 30% !important;
        }
    }

    html {
        height: 130%;
    }
    body {
        margin: 0;
        background-color: gray;
        height: 100%;
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        width: 80%;
        height: 100%;
    }

    .slider {
        width: 100%;
        overflow: hidden;
    }

    .sliderLine {
        width: 400%;
        display: flex;
        transition: 1s;
    }

    .mem {
        width: 100%;
    }

    .memImg {
        width: 100%;
    }

    .textAndButtonWrap {
        margin-top: 3%;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
    }

    .memTextDiv {
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin-top: 1%;
    }

    .memText {
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-size: 130%;
        margin-top: 0;
        transition: 1s;
    }

    .textWrapper {
        transition: 1s;
    }

    .memText4.active {
        transform: translateY(-560%);
    }

    .memText3.active {
        transform: translateY(-375%);
    }

    .memText2.active {
        transform: translateY(-190%);
    }

    .memText1.active {
        transform: translateY(0%);
    }

    .memText1.none {
        transform: translateY(180%);
    }

    .memButtonDiv {
        width: 20%;
        height: 80%;
        display: flex;
        margin-top: 0.1%;
    }

    .memButtonWrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .memButton {
        display: none;
    }

    span {
        display: flex;
        width: 50%;
        height: 50%;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.15em solid #fff;
        background-color: #fff;
    }

    label {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .wrapper:has(#button1:checked) .sliderLine {
        margin-left: 0%;
    }
    .wrapper:has(#button2:checked) .sliderLine {
        margin-left: -100%;
    }
    .wrapper:has(#button3:checked) .sliderLine {
        margin-left: -200%;
    }
    .wrapper:has(#button4:checked) .sliderLine {
        margin-left: -300%;
    }

    .wrapper:has(#button1:checked) .textWrapper{
        transform: translateY(0%);
    }
    .wrapper:has(#button2:checked) .textWrapper{
        transform: translateY(-28%);
    }
    .wrapper:has(#button3:checked) .textWrapper{
        transform: translateY(-56%);
    }
    .wrapper:has(#button4:checked) .textWrapper{
        transform: translateY(-84%);
    }

    .wrapper:has(#button1:checked) .span1{
        background: black;
    }
    .wrapper:has(#button2:checked) .span2{
        background: black;
    }
    .wrapper:has(#button3:checked) .span3{
        background: black;
    }
    .wrapper:has(#button4:checked) .span4{
        background: black;
    }

    .wrapper:has(#button1:hover) .span1{
        background: black;
    }
    .wrapper:has(#button2:hover) .span2{
        background: black;
    }
    .wrapper:has(#button3:hover) .span3{
        background: black;
    }
    .wrapper:has(#button4:hover) .span4{
        background: black;
    }

