
    @media (min-width: 1px) and (max-width: 768px) {
        .textAndButtonWrap {
            flex-direction: column;
            height: 10% !important;
        }

        .memButtonDiv {
            order: -1;
            align-self: center !important;
            height: 300% !important;
        }

        .memTextDiv {
            width: 100%;
            height: 100% !important;
        }

        .memText {
            font-size: 100% !important;
        }

        .memButton {
            height: 30% !important;
        }
    }

    @media (min-width: 500px) and (max-width: 600px) {
        .memButton {
            height: 20% !important;
        }
    }

    html {
        height: 130%;
    }
    body {
        margin: 0;
        background-color: gray;
        height: 100%;
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        width: 80%;
        height: 100%;
    }

    .slider {
        width: 100%;
        overflow: hidden;
    }

    .sliderLine {
        width: 400%;
        display: flex;
        transition: 1s;
    }

    .mem {
        width: 100%;
    }

    .memImg {
        width: 100%;
    }

    .textAndButtonWrap {
        margin-top: 3%;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
    }

    .memTextDiv {
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin-top: 1%;
    }

    .memText {
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-size: 130%;
        margin-top: 0;
        transition: 1s;
    }

    .memText4.active {
        transform: translateY(-560%);
    }

    .memText3.active {
        transform: translateY(-375%);
    }

    .memText2.active {
        transform: translateY(-190%);
    }

    .memText1.active {
        transform: translateY(0%);
    }

    .memText1.none {
        transform: translateY(180%);
    }

    .memButtonDiv {
        width: 20%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }

    .memButtonWrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .memButton {
        width: 50%;
        height: 50%;
        background-color: rgb(43, 47, 61);
        border-radius: 50%;
    }

    .memButton.active {
        background-color: black;
    }
    
    .memButtonWrap:hover .memButton{
        background-color: black;
    }

